.tp-card {
    max-width: 100%;
    height: 50%;
    background-color: darkgray;

}
 .tp-header-image {
    background-image: url('https://www.tutorialspoint.com/materialize/src/html5-mini-logo.jpg');
    background-size: cover;
 }
 .mat-card-image{
     height: 10;
     width: 10;
     
 }
 .mat-card-content{
    text-align: -webkit-auto;
 }

 