<div class="container">
<mat-card class = "tp-card">
    <mat-card-header>
       <!-- <div mat-card-avatar class = "tp-header-image"></div> -->
       <mat-card-title>Precautions</mat-card-title>
       <mat-card-subtitle><div class="container">
        With coronavirus threatening to run riot in India, here's how you can keep yourself safe from the scourge.
        <br>
        <br>As of now, a vaccine has not been formulated for the novel coronavirus. In light of this fact, prevention appears to be the best cure available so far.
        <br>
        <br>Here are the measures you need to take to keep the virus at bay:
        <br>
       </div></mat-card-subtitle>
    </mat-card-header>
    
    <mat-card-content>
      
        
            <div class="container">
              <br>
              <ol>
               <li>Avoid close contact with people who are sick. Maintain at least three feet distance between yourself and anyone who is coughing or sneezing.</li>
               <li>Avoid touching your eyes, nose, and mouth.</li>
               <li>Stay home when you are sick.</li>
               <li>Cover your cough or sneeze with a tissue, then dispose of the tissue safely.</li>
               <li>Clean and disinfect frequently-touched objects and surfaces using a regular household cleaning spray or wipe.</li>
               <li> Wearing a mask is not necessary unless you are taking care of an infected person. The Centers for Disease Control (CDC) does recommend that only infected people wear masks to prevent the spread of the virus.</li>
               <li>Wash your hands often with soap and water for at least 20 seconds, especially after going to the bathroom, before eating, and after blowing your nose, coughing, or sneezing.</li>
               <li>If soap and water are not readily available, use an alcohol-based hand sanitiser with at least 60% alcohol. Always wash hands with soap and water when hands are visibly dirty.</li>
               <li>If you have a fever, cough and difficulty breathing, seek medical attention immediately.</li>
               <li>Keep in mind the travel advisory set out by the Ministry of Health and Welfare.</li>
              </ol>
            </div>
       
    </mat-card-content>
  </mat-card>
</div>